<html>
    <head>
        <link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Make Change</title>
    </head>
    <body>
        <div class='container'>
            <div class='jumbotron'>
                <h1>Make Change</h1>
            </div>
            <h2>Be The Change You Need to Make at the Store!</h2>
            <h3>Welcome to America. Our coins are just plain non-cents. You need a certain amount of American coinage, but you're intimidated by making change. Enter a number, we'll break down the coins you need.</h3>
            <form action='/make_change'>
                <div class='form-group'>
                    <label for='cents'>How much cents do you need to make?</label>
                    <input type='number' name='cents' value=''>
                </div>
                <button type='submit' name='' class='btn'></button>
            </form>
        </div>
    </body>
</html>
